<div class="cover-container d-flex w-100 h-100 mx-auto flex-column text-center">
  <main role="main" class="inner cover">
    <h2 class="cover-heading">Bem-vindo ao portal de Eventos.</h2>
    <p class="lead">
      LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM
      LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM
      LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM
    </p>
  </main>
</div>
