OrusEvents/.vs/OrusEvents/v16/.suo
OrusEvents/.vs/OrusEvents/DesignTimeBuild/.dtbcache
OrusEvents/.vs/OrusEvents/v16/Server/sqlite3/storage.ide
OrusEvents/.vs/OrusEvents/v16/Server/sqlite3/storage.ide-shm
OrusEvents/.vs/OrusEvents/v16/Server/sqlite3/storage.ide-wal
OrusEvents/.vs/OrusEvents/DesignTimeBuild/.dtbcache
OrusEvents/.vs/OrusEvents/v16/.suo
OrusEvents/.vs/OrusEvents/v16/Server/sqlite3/storage.ide