<nav id="sidebar">
  <div class="sidebar-border">
    <div class="sidebar-header">
      <div class="row">
        <div class="col-12 sidebar-title">
          Portal de Eventos
        </div>
        <!-- <div class="col-12 sidebar-logo"> -->
          <!-- <div class="border-box"></div> -->
          <!-- <img class="img-logo" src="assets/img/logos/logo-bs2-white.svg" alt="logo-app"> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
  <ul id="menusNavBar" class="list-unstyled components navbar-nav sidebar-menu">
    <li >
      <a class="nav-link" title="HOME" [routerLink]="['/home']">
        <img src="../../assets/img/home.svg" alt="Home">
        <span class="menu-item">
          Home
        </span>
      </a>
    </li>
    <li >
      <a class="nav-link" title="Voucher" [routerLink]="['/confirm-voucher']">
        <img src="../../assets/img/wallet.svg" alt="Voucher">
        <span class="menu-item">
          Vouchers
        </span>
      </a>
    </li>
  </ul>
</nav>
