<div class="container">
  <h2>Confirmação de Voucher</h2>
  <div class="produtos">
    <div>
      <div class="row">
        <div class="col">
          <label>Nome do Evento: </label>
          <label>{{ registerModel.EventName }}</label>
        </div>
        <div class="col">
          <label for="descricao">E-mail Cadastrado: </label>
          <label>{{ registerModel.UserEmail }}</label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="descricao">Data: </label>
          <label>{{ registerModel.EventDate | date:'M/d/yy h:mm a' }}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <input type="button" name="Confirme" value="Confirmar Presença" (click)="confirmPresence()" class="btn btn-success" />
        </div>
      </div>
      <div class="row">
        <span style="color:red">{{ message }}</span>
      </div>
    </div>
  </div>
</div>
